
<div class="container">
  {{site-header}}


  {{outlet}}

  {{site-footer}}

  <ul>
    {{#each model as |entry|}}
      <li>{{entry.title}} | <code>{{entry.featuredImage.url}}</code></li>
    {{/each}}
  </ul>

</div>

