<h2 id="title">Welcome to Ember.js</h2>

{{log model}}
{{#each model as |entry|}}
  <p>{{entry.title}}</p>
  {{entry.featuredImage.title}}
  <img src={{entry.featuredImage.url}} />
{{/each}}

{{outlet}}

