<div class="content-box">
  <h1>Annual Events</h1>
  {{#each annualEvents as |event|}}
    {{event-card event=event}}
  {{else}}
    <em>No annual events</em>
  {{/each}}
</div>

<div class="content-box">
  <h1>Upcoming Events</h1>
  {{#each upcomingEvents as |event|}}
    {{event-card event=event}}
  {{else}}
    <em>No upcoming events</em>
  {{/each}}
</div>

<div class="content-box">
  <h1>Past Events</h1>
  {{#each pastEvents as |event|}}
    {{event-card event=event}}
  {{else}}
    <em>No past events</em>
  {{/each}}
</div>