<div id="index">
  <div class="head">
    <div class="container">
      {{#background-image image=homeHeroFragment.image class="hero"}}
        <h1>{{homeHeroFragment.title}}</h1>
        <div class="inner">
          <div class="text">{{{homeHeroFragment.bodyHTML}}}</div>
          {{view 'fragment-link' fragment=homeHeroFragment goTo="goTo" class="center-block"}}
        </div>
      {{/background-image}}
    </div>
    <div class="ribbons">
      <div class="ribbon ribbon-red"></div>
      <div class="ribbon ribbon-yellow"></div>
      <div class="ribbon ribbon-blue"></div>
    </div>
  </div>

  <div class="body">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-box">
            <div class="panel-heading">{{homeBox1Fragment.title}}</div>
            <div class="panel-ribbon"><div class="ribbon ribbon-red"></div></div>
            <div class="panel-body">
              {{background-image image=homeBox1Fragment.image}}
              <div class="inner">
                <div class="text">{{{homeBox1Fragment.bodyHTML}}}</div>
                {{view 'fragment-link' fragment=homeBox1Fragment goTo="goTo" class="center-block"}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-box">
            <div class="panel-heading">{{homeBox2Fragment.title}}</div>
            <div class="panel-ribbon"><div class="ribbon ribbon-yellow"></div></div>
            <div class="panel-body">
              {{background-image image=homeBox2Fragment.image}}
              <div class="inner">
                <div class="text">{{{homeBox2Fragment.bodyHTML}}}</div>
                {{view 'fragment-link' fragment=homeBox2Fragment goTo="goTo" class="center-block"}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-box">
            <div class="panel-heading">{{homeBox3Fragment.title}}</div>
            <div class="panel-ribbon"><div class="ribbon ribbon-blue"></div></div>
            <div class="panel-body">
              {{background-image image=homeBox3Fragment.image}}
              <div class="inner">
                <div class="text">{{{homeBox3Fragment.bodyHTML}}}</div>
                {{view 'fragment-link' fragment=homeBox3Fragment goTo="goTo" class="center-block"}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-box">
            <div class="panel-heading">Upcoming Event</div>
            <ul class="panel-body">
              {{background-image image=upcomingEvent.image}}
              <div class="inner">
                <h4>{{upcomingEvent.title}}</h4>
                <div class="text">{{{upcomingEvent.bodyHTML}}}</div>
                {{view 'fragment-link' fragment=upcomingEvent goTo="goTo" class="center-block"}}
              </div>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-box">
            <div class="panel-heading">Friend of the Month</div>
            <div class="panel-body">
              {{background-image image=friendMonthFragment.image}}
              <div class="inner">
                <h4>{{friendMonthFragment.title}}</h4>
                <div class="text">{{{friendMonthFragment.bodyHTML}}}</div>
                {{view 'fragment-link' fragment=friendMonthFragment goTo="goTo" class="center-block"}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-box">
            <div class="panel-heading">Bridge News</div>
            <div class="panel-body">
              <div class="inner">
                {{#each recentStories as |story|}}
                  <div class="story">
                    <h4>{{story.title}}</h4>
                    <div class="date">Posted on {{moment story.createdAt 'MMMM Do, YYYY'}}</div>
                    <div class="text">{{{story.bodyHTML}}}</div>
                    {{view 'fragment-link' fragment=story goTo="goTo" class="center-block"}}
                  </div>
                {{/each}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
