<div class="row">
  <div class="col-sm-4">
    <ul class="list-group">
      <li class="list-group-item">{{link-to 'Mobility Equipment' 'mobilityEquipment.index'}}</li>
      <li class="list-group-item">{{link-to 'Get Equipment' 'mobilityEquipment.getEquipment'}}</li>
      <li class="list-group-item">{{link-to 'Give Equipment' 'mobilityEquipment.giveEquipment'}}</li>
      <li class="list-group-item">{{link-to 'Equipment Types' 'mobilityEquipment.equipmentTypes'}}</li>
    </ul>
  </div>
  <div class="col-sm-8">
    {{outlet}}
  </div>
</div>