<div class="row">
  <div class="col-sm-4">
    <ul class="list-group">
      <li class="list-group-item">{{link-to 'News & Events' 'newsAndEvents.index'}}</li>
      <li class="list-group-item">{{link-to 'Events' 'newsAndEvents.events'}}</li>
      <li class="list-group-item">{{link-to 'Newsletter' 'newsAndEvents.newsletter'}}</li>
      <li class="list-group-item">{{link-to 'Photo Gallery' 'newsAndEvents.photoGallery'}}</li>
    </ul>
  </div>
  <div class="col-sm-8">
    {{outlet}}
  </div>
</div>