{{site-header programSections=sortedProgramSections otherSections=sortedOtherSections link1Fragment=headerLink1Fragment link2Fragment=headerLink2Fragment buttonFragment=headerButtonFragment goTo="goTo"}}

<div id="section" class="body">
  <div class="container">
    {{outlet 'breadcrumb'}}
    <div class="row">
      <div class="col-sm-3 sidebar">

        <div class="panel panel-box panel-box-inverse sidenav">
          {{link-to model.title 'section.index' model class="panel-heading"}}
          <div class="panel-ribbon"><div class="ribbon {{model.ribbonClass}}"></div></div>
          {{#if model.pages}}
            <div class="list-group">
              {{#each model.pages as |page|}}
                {{#if page.hasLink}}
                  {{view 'entry-link' entry=page.link title=page.title goTo="goTo"  class="list-group-item"}}
                {{else}}
                  {{link-to page.title 'page' model page class="list-group-item"}}
                {{/if}}
              {{/each}}
            </div>
          {{/if}}
        </div>

        {{#each model.fragments as |fragment|}}
          <div class="panel panel-box panel-box-inverse">
            <div class="panel-heading">{{fragment.title}}</div>
            <div class="panel-body">
              {{background-image image=fragment.image}}
              <div class="inner">
                <div class="text">{{{fragment.bodyHTML}}}</div>
                {{view 'fragment-link' fragment=fragment goTo="goTo" class="center-block"}}
              </div>
            </div>
          </div>
        {{/each}}

      </div>
      <div class="col-sm-9">
        {{outlet}}
      </div>
    </div>
  </div>
</div>

{{site-footer box1Fragment=footerBox1Fragment box2Fragment=footerBox2Fragment box3Fragment=footerBox3Fragment}}