<div id="section" class="body">
  <div class="container">
    {{outlet 'breadcrumb'}}
    <div class="row">
      <div class="col-sm-3 sidebar">

        <div class="panel panel-box panel-box-inverse sidenav">
          {{link-to model.title 'section.index' model class="panel-heading"}}
          <div class="panel-ribbon"><div class="ribbon {{model.ribbonClass}}"></div></div>
          {{#if model.pages}}
            <div class="list-group">
              {{#each model.pages as |page|}}
                {{link-to page.title 'page' model page class="list-group-item"}}
              {{/each}}
            </div>
          {{/if}}
        </div>

        {{#each model.fragments as |fragment|}}
          <div class="panel panel-box panel-box-inverse">
            <div class="panel-heading">{{fragment.title}}</div>
            <div class="panel-body">
              {{background-image image=fragment.image}}
              <div class="inner">
                {{markdown-to-html markdown=fragment.body class="text"}}
                {{view 'fragment-link' fragment=fragment goTo="goTo" class="center-block"}}
              </div>
            </div>
          </div>
        {{/each}}

      </div>
      <div class="col-sm-9">
        {{outlet}}
      </div>
    </div>
  </div>
</div>

